<app-table-filter
  [filterItems]="filterItems"
  [(criteria)]="criteria"
  [originalCriteria]="originalCriteriaValue"
  (criteriaChange)="onCriteriaChange()"
  (reset)="resetFilter()"
></app-table-filter>

<br />

<h3 *ngIf="loading">Loading...</h3>

<table [hidden]="loading" class="table table-striped">
  <thead>
    <th *ngFor="let col of cols">
      {{col.displayName ?? col.name}}
    </th>
    <th *ngIf="details">Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let record of records">
      <td *ngFor="let col of cols">
        <ng-container *ngIf="col.template">
          <ng-container
            *ngTemplateOutlet="
              col.template;
              context: { $implicit: record[col.name] }
            "
          >
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!col.template">
          {{ record[col.name] }}
        </ng-container>
      </td>
      <td *ngIf="details">
        <button
          (click)="onDetails(record)"
          class="btn btn-outline-secondary btn-sm"
        >
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />
<hr />
<strong>Criteria value</strong>
<div style="background-color: rgba(0, 0, 0, 0.1)" class="p-5">
  {{ criteria | json }}
</div>
