<h3 *ngIf="loading">Loading...</h3>
<table *ngIf="!loading">
  <thead>
    <th *ngFor="let col of cols">
      {{col.displayName ?? col.name}}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let record of records">
      <td *ngFor="let col of cols">
        <ng-container *ngIf="col.template">
          <ng-container
            *ngTemplateOutlet="
              col.template;
              context: { $implicit: record[col.name] }
            "
          >
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!col.template">
          {{ record[col.name] }}
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
