<app-form [config]="config" title="Invoice details">
  <app-form-control-holder label="Invoice Number">
    <input
      type="text"
      id="invoiceNumber"
      name="invoiceNumber"
      class="form-control"
      formControlName="invoiceNumber"
      autocomplete="off"
    />
    <app-form-control-error
      id="randomErrorId"
      error="The value 'RANDOM' is invalid!"
    ></app-form-control-error>
  </app-form-control-holder>
  <app-form-control-holder label="Amount">
    <input
      type="text"
      id="amount"
      name="amount"
      class="form-control"
      formControlName="amount"
    />
  </app-form-control-holder>

  <app-form-control-holder label="Payment state">
    <select formControlName="paymentState" class="form-select">
      <option [ngValue]="paymentStates.Pending">Pending</option>
      <option [ngValue]="paymentStates.Payed">Payed</option>
      <option [ngValue]="paymentStates.Late">Late</option>
    </select>
  </app-form-control-holder>
</app-form>
